.tile {
    width: 60px;
    height: 60px;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: bold;
    color: #000000;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 4px;
    font-size: 16px;

    &.red {
        background: #f34747;
    }

    &.white {
        background: #cccccc;
    }

    &.green {
        background: #368b14;
    }

    &.yellow {
        background: #e0cf06;
    }

    &.blue {
        background: #31838e;
    }
}